{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/sort-comp": [
      1,
      {
        "order": [
          "constructor",
          "static-methods",
          "/config/",
          "lifecycle",
          "/^on.+$/",
          "everything-else",
          "render"
        ]
      }
    ]
  },
    "parser": "babel-eslint"
  }
